        html {
            scroll-behavior: smooth;
        }

        .hamburger {
            display: none;
            flex-direction: column;
            cursor: pointer;
            z-index: 1001;
        }

        .hamburger span {
            width: 25px;
            height: 3px;
            background-color: white;
            margin: 3px 0;
            transition: 0.3s;
        }

        .hamburger.active span:nth-child(1) {
            transform: rotate(-45deg) translate(-5px, 6px);
        }

        .hamburger.active span:nth-child(2) {
            opacity: 0;
        }

        .hamburger.active span:nth-child(3) {
            transform: rotate(45deg) translate(-5px, -6px);
        }

        .mobile-menu {
            position: fixed;
            top: 60px;
            right: -100%;
            width: 70%;
            height: calc(100vh - 60px);
            background-color: rgb(28, 28, 28);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 40px;
            transition: right 0.5s ease;
            z-index: 999;
        }

        .mobile-menu.active {
            right: 0;
        }

        @media (max-width: 768px) {
            .hamburger {
                display: flex;
            }
        }